/* Query Styles for 320px and up */

.headfill { height: 250px; }

#content { margin-top: -50px; background-color: #f7f7f7; padding: 25px; border-radius: 3px; overflow: hidden; }

h1 {
	text-align: center;
	font-size: 3rem;
	line-height: 2rem;
}

h2{
	font-size: 20px;
	font-size: 2rem;
	margin: 1em 0 4rem 0;
	line-height: 26px;
	line-height: 2.6rem;
	text-align: center;
}

header {
    padding: 50px 10px 0;
}

.lmblaunch a { line-height: 20px; padding: 10px; font-size: 1.6rem; }

p {
	font-size: 1.6rem;
	line-height: 2.2rem;
    margin-bottom: 1.1rem;
}

h3 {
	font-size: 21px;
	font-size: 2.1rem;
	margin-bottom: 1.1rem;
}


/* INTERVIEWS */
.member-data figure {
	flex: 50%;
	-webkit-flex: 50%;
	-moz-flex: 50%;
}
