* {
	display: inline;
	padding: 0;
	margin: 0;
}

img, video, audio, svg, canvas, iframe, isindex {
	display: none;
}

html {
	background: black;
	width: 60em; /* fallback, temp, change it when we have the actual font */
	width: 80ch;
	margin: 0 auto;
	line-height: 1.5;
}

head {
	display: block;
	background: black;
	color: lime;
	font-family: monospace;
}

title {
	display: block;
	text-align: right;
}

body {
	display: block;
	background: black;
	color: lime;
	font-family: monospace;
	padding-top: 1.5em; /* 1 * line-height */
}

html, h1, h2, h3, h4, h5, h6, p, ul, li, ol, dl dd, dt, pre {
	display: block;
	font-size: inherit; 
	font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 1.5em; /* 1 * line-height */
	text-align: center;
	text-transform: uppercase;
}

div, section, aside, header, footer {
	display: block;
}

table {
	display: block;
}

a, b, strong, em, i, span {
	display: inline;
}

a:link, a:visited, a:active, a:hover {
	text-decoration: none;
	color: lime
}

/*counters for the link*/

body {
	counter-reset: section;
}

a:after {
	counter-increment: section;      /* Increment the section counter */
	content: "[" counter(section) "]"; /* Display the counter */;
}

pre, xmp {
	display: block;
	white-space: pre;
}

hp1:first-letter, hp2:first-letter {
	text-transform: uppercase
}
/*should only  work for first character without intervening elements e.g. not <hp1><p>*/

form {display: none}