* {
	display: inline;
	padding: 0;
	margin: 0;
	font: inherit !important;
	color: inherit;
}

/*
img, video, audio, svg, canvas, iframe, isindex {
	display: none;
}
*/

html, body, head, title,
h1, h2, h3, h4, h5, h6, p, ul, li, ol, pre, table,
div, section, aside, header, footer {
	display: block;
}

a, b, strong, em, i, span {
	display: inline;
}

html {
	background: black;
	width: 60em; /* fallback, temp, change it when we have the actual font */
	width: 80ch;
	height: 37.5em; /* 25 lines */
	margin: 0 auto;
	padding-bottom: 1.5em;
	overflow: hidden;
	line-height: 1.5;
	color: hsl(150, 100%, 50%);
	word-wrap: break-word;
}

head {
	background: black;
	font-family: monospace;
}

title {
	text-align: right;
}

body {
	padding-top: 1.5em; /* 1 * line-height */
	font-family: monospace;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 1.5em; /* 1 * line-height */
	text-transform: uppercase;
}

h1 {
	text-align: center;
}

a {
	text-decoration: none;
	color: inherit;
}

/* Definition lists */
dt, dd {
	display: inline-block;
	vertical-align: top;
}

dt {
	width: 30ch;
}

dd {
	width: 50ch;
}

/* Counters for the link */

body {
	counter-reset: section;
}

pre, xmp {
	display: block;
	white-space: pre;
}

hp1:first-letter, hp2:first-letter {
	text-transform: uppercase;
}

/*should only  work for first character without intervening elements e.g. not <hp1><p>*/

form {display: none}

input {display: none}

button {display: none}


