/* Query Styles for 1024px and up */

.headfill { height: 600px; }

.wrapper{
	width: 768px;
	margin: 0 auto;
}

#content { margin-top: -200px; background-color: #f7f7f7; padding: 20px; border-radius: 3px; }

h3 {
	font-size: 24px;
	font-size: 2.4rem;
	margin-bottom: 1.1rem;
}